body {
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 50px;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 9;
    font-family: monospace;
}


.directoryBody {
    margin-top: 150px;
    margin-right: 300px;
    justify-content: start;
}

.top {
    height: 25px;
    padding-top: 80px;
    display: flex;
}