body {
    background-color: #f4f4f9;
    /* 更柔和的背景色 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* 使用更现代的字体 */
}

.title {
    font-size: 50px;
    font-weight: 700;
    /* 调整字体粗细 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    /* 增加底部间距 */
    color: #333;
    /* 更柔和的字体颜色 */
}

.directoryBody {
    margin-top: 20px;
    /* 减少顶部间距 */
    padding: 20px;
    background: #fff;
    /* 添加背景色 */
    border-radius: 8px;
    /* 添加圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* 添加阴影 */
    width: 80%;
    max-width: 600px;
}

.directoryBody a {
    text-decoration: none;
    color: #007BFF;
    /* 链接颜色 */
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    /* 增加底部间距 */
}

.directoryBody a:hover {
    text-decoration: underline;
    /* 悬停效果 */
}

.top {
    height: 25px;
    padding-top: 20px;
    /* 减少顶部填充 */
    display: flex;
    justify-content: center;
    /* 居中对齐 */
}
